<h1>Answer to Pass!</h1>

<form action="/output" method="post">
  <div class="form-group">
    <label class="form-control-label" for="answer_one"> <%= @other_test %></label>
    <!-- <input name="random" value="<%=@random_number%>"> -->
    <input type="text" class="form-control form-control" id="answer_one" name="answer_one">
    <!-- <div class="form-control-feedback">Success! You've done it.</div>
    <small class="form-text text-muted">Footsteps</small> -->
  </div>

  <button type="submit" class="sucess-btn">Go!</button>
</form>
